<!DOCTYPE html>
{% load filters %} {% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'mlb_data/css/styles.css' %}"
    />
    <link rel="icon" type="image/png" href="{% static 'mlb_data/images/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'mlb_data/images/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'mlb_data/images/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'mlb_data/images/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'mlb_data/site.webmanifest' %}" />
    <title>MLB Data - {{player.name}} Details</title>
    <style>
      th {
        cursor: pointer;
      }
    </style>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js"
      integrity="sha512-F/gIMdDfda6OD2rnzt/Iyp2V9JLHlFQ+EUyixDg9+rkwjqgW1snpkpx7FD5FV1+gG2fmFj7I3r6ReQDUidHelA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/sorts/tablesort.number.min.js"
      integrity="sha512-dRD755QRxlybm0h3LXXIGrFcjNakuxW3reZqnPtUkMv6YsSWoJf+slPjY5v4lZvx2ss+wBZQFegepmA7a2W9eA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var tables = document.querySelectorAll("table");
        tables.forEach(function (table) {
          new Tablesort(table);
        });
      });
    </script>
  </head>
  <body>
    <header>
      <a class="link-home" href="{% url 'mlb_data' %}">
        <img
          src="{% static 'mlb_data/images/mlb-logo.jpg' %}"
          alt="MLB Logo"
          class="logo"
        />
        <h1>MLB Data</h1>
      </a>
      <div class="grow"></div>
      <nav>
        <ul class="nav-buttons">
          <li><a href="{% url 'player_search' %}">Player Search</a></li>
          <li><a href="{% url 'team_search' %}">Team Search</a></li>
        </ul>
      </nav>
    </header>

    <main class="search-results">
      <div class="container">
        <h2>Player Details - {{player.name}}</h2>

        <div class="results-table">
          <h3>Personal Information</h3>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Given Name</th>
                <th>Birthdate</th>
                <th>Deathdate</th>
                <th>Hometown</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.given_name }}</td>
                <td>{{ player.birthdate }}</td>
                <td>{{ player.deathdate|default:"-" }}</td>
                <td>{{ player.birth_city }}, {{ player.birth_state }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="results-table">
          <h3>Career Information</h3>
          <table>
            <thead>
              <tr>
                <th>Positions</th>
                <th>Batting Hand</th>
                <th>Throwing Hand</th>
                <th>First Game</th>
                <th>Last Game</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {% for position in player.positions.all %}
                  {{ position.position_code }}{% if not forloop.last %},
                  {% endif %} {% endfor %}
                </td>
                <td>{{ player.batting_hand }}</td>
                <td>{{ player.throwing_hand }}</td>
                <td>{{ player.first_game }}</td>
                <td>{{ player.last_game }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="results-table">
          <h3>Season Statistics</h3>
          <table>
            <thead>
              <tr>
                <th>Year</th>
                <th>Games Played</th>
                <th>Salary</th>
                <th>Team</th>
                <th>Hits</th>
                <th>At Bats</th>
                <th>Batting Average</th>
                <th>Home Runs</th>
              </tr>
            </thead>
            <tbody>
              {% for player_season in player_seasons %}
              <tr>
                <td>{{ player_season.year }}</td>
                <td>{{ player_season.games_played }}</td>
                <td>${{ player_season.salary }}</td>
                <td>
                  {% for team in team_seasons|get_item:player_season.year %}
                  <a
                    href="{% url 'team_details' team.1 %}"
                  >
                    {{ team.0 }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>{{ player_season.batting_stats.hits }}</td>
                <td>{{ player_season.batting_stats.at_bats }}</td>
                <td>
                  {{ player_season.batting_stats.hits|divide:player_season.batting_stats.at_bats|floatformat:3 }}
                </td>
                <td>{{ player_season.batting_stats.home_runs }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="back-links">
          <a href="{% url 'player_search' %}" class="btn"
            >Back to Player Search</a
          >
          <a href="{% url 'mlb_data' %}" class="btn">Back to Home</a>
        </div>
      </div>
    </main>

    <footer>
      <p>
        &copy; {% now "Y" %} Anderson Levasseur and Alexander Taylor. All rights
        reserved.
      </p>
    </footer>
  </body>
</html>
